MINIMAX_API_KEY=replace_me
MINIMAX_API_BASE=https://api.minimax.io/v1
MINIMAX_TTS_MODEL=speech-2.8-turbo
MINIMAX_TTS_VOICE=English_expressive_narrator
MINIMAX_TTS_FORMAT=mp3
MINIMAX_TTS_SAMPLE_RATE=32000
MINIMAX_TTS_BITRATE=128000
MINIMAX_TTS_CHANNELS=1
MINIMAX_TTS_SPEED=1.0
MINIMAX_TTS_VOLUME=1.0
MINIMAX_TTS_PITCH=0.0
MINIMAX_SYNC_CHAR_LIMIT=9500
MINIMAX_ASYNC_POLL_INTERVAL=1.5
MINIMAX_ASYNC_TIMEOUT_SECONDS=180
MINIMAX_HTTP_TIMEOUT=120
MINIMAX_VOICE_TYPE=all
